html, body {
	font-family: 'Comfortaa', cursive, sans-serif;
	color: black;
	background-color: #ccfbff; /*lavender-ish*/
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: #4787ff;
}

div.motivational {
    position: absolute;
    width: 225px;
    height: 40px;
    top: 20px; 
    right: 15px; 
    color: white;
    background-color: #75ffe1;
    padding: 10px;
    transition: width .5s;
}

div.motivational:hover {
    width: 260px;
}


div.flyers {
    position: absolute;
    width: 225px;
    height: 40px;
    top: 70px; 
    right: 15px; 
    color: white;
    background-color: #79ffa6;
    padding: 10px;
    transition: width .5s;
}

div.flyers:hover {
    width: 260px;
}

img.scratchgame {
    display: block;
    margin: auto;
}

/*Main cards on home*/

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
    background-color: white;
}

::-webkit-scrollbar { 
    display: none; 
}

/*DECORATIVE LOGO on bottom of home page*/

div.bar1 {
    position: absolute;
    float: left;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 5px;
    background-color: #ddeaff;
    transition: height .3s;
    text-align: center;
    font-size: 80%;
}

div.bar1:hover {
    height: 20px;
}

div.bar2 {
    position: absolute;
    float: left;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 20px;
    background-color: #ccdfff;
    transition: height .3s;
    text-align: center;
    font-size: 80%;
}

div.bar2:hover {
    height: 20px;
}

div.bar3 {
    position: absolute;
    float: left;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 35px;
    background-color: #b7d2ff;
    transition: height .3s;
    text-align: center;
    font-size: 80%;
}

div.bar3:hover {
    height: 20px;
}

div.bar4 {
    position: absolute;
    float: left;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 50px;
    background-color: #a0c4ff;
    transition: height .3s;
    text-align: center;
    font-size: 80%;
}

div.bar4:hover {
    height: 20px;
}

div.bar5 {
    position: absolute;
    float: left;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 65px;
    background-color: #82b1ff;
    transition: height .3s;
    text-align: center;
    font-size: 50%;
}

div.bar5:hover {
    height: 20px;
}

/*end of decoration*/
