html, head, body {
	background-color: #ddfffe;
}

body {
	font-family: 'Comfortaa', cursive, sans-serif;
}

a:hover {
	text-decoration: none;
	color: #4787ff;
}

::-webkit-scrollbar { 
    display: none; 
}

/*Main cards on home*/

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
    background-color: white;
}

::-webkit-scrollbar { 
    display: none; 
}